.navbar {
  background-color: var(--color-navbar-bg);
  border-bottom: 1px solid var(--color-navbar-border);
}

.today {
  font-weight: bold;
  color: black;
  border-radius: 5px;
  padding: 8px;
  background-color: var(--color-translucent-alt-heavy);
}

.title {
  font-family: 'Courier New', Courier, monospace;
}

.title:hover {
  cursor: pointer;
}
